@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
  background-color: rgb(31 41 55 / 1);
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  height: 100vh;
}

/* For webkit browsers */
::-webkit-scrollbar {
  width: 10px;
  background-color: #333;
}

/* For IE and Edge */
scrollbar {
  width: 12px;
  background-color: #333;
}

/* For Firefox */
scrollbar-thumb {
  background-color: #666;
}

/* For webkit browsers */
::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 6px;
}

.skill:hover span {
  clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0 100%, 0 0);
  /* clip-path: circle(100% at 50% 0); */
  /* clip-path: ellipse(70% 120% at 50% 0%); */
}

.skill span {
  clip-path: polygon(50% 0%, 100% 0, 100% 0, 0 0, 0 0);
  /* clip-path: ellipse(30% 0% at 49% 0%); */
  /* clip-path: circle(0% at 50% 0); */
  overflow: hidden;
  transition: clip-path 150ms;
  display: none;
}

* {
  box-sizing: border-box;
}

.next-icon {
  position: absolute;
  max-width: calc(100% + 4px);
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
}

.phone-aspect-ratio {
  position: relative;
  aspect-ratio: 9 / 19.5;
  max-width: 100%;
  overflow: hidden;
}

@screen md {
  .phone-aspect-ratio {
    max-width: 375px;
  }
}

.circle {
  animation: rotate 15s infinite linear;
  transition: all 0.3s;
}

.circle:hover {
  animation-play-state: paused;
}

.circle:hover > li > div {
  animation-play-state: paused;
}
.circle:hover > div {
  animation-play-state: paused;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.rotate-center {
  transform-origin: center;
  animation: rotate-center 15s infinite linear;
}

@keyframes rotate-center {
  to {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}

.full-circle-clip {
  clip-path: circle(100% at 50% 50%);
  transition: clip-path 0.2s, color 0.2s, background-color 0.2s;
}

.empty-circle-clip {
  clip-path: circle(0% at 50% 50%);
  transition: clip-path 0.2s;
}

.scale-on-hover > div {
  transition: scale 0.15s;
}

.scale-on-hover:hover > div {
  scale: 1.3;
}
