@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
  background-color: rgb(31 41 55 / 1);
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  height: 100vh;
}

/* For webkit browsers */
::-webkit-scrollbar {
  width: 10px;
  background-color: #333;
}

/* For IE and Edge */
scrollbar {
  width: 12px;
  background-color: #333;
}

/* For Firefox */
scrollbar-thumb {
  background-color: #666;
}

/* For webkit browsers */
::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 6px;
}

.skill:hover span {
  display: block;
}

* {
  box-sizing: border-box;
}


.next-icon {
  position: absolute;
  max-width: calc(100% + 4px);
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
}

.phone-aspect-ratio {
  position: relative;
  aspect-ratio: 9 / 19.5;
  max-width: 100%;
  overflow: hidden;
}

@screen md {
  .phone-aspect-ratio {
    max-width: 375px;
  }
}
